.main_cards{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.home-card{
    transition-duration: 0.5s;
    border-radius: 5%;
    box-shadow: 5px 5px 20px 5px rgb(56, 196, 201);
}
.card-image{
    margin-top: 5%;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 1px 1px 3px 1px rgb(56, 196, 201);
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-title{
    align-self: center;
    color:rgb(35, 233, 223);
}
.card-text{
    color:pink;
}
.mycard:hover{
    transform: scale(0.95);
    transition-duration: 0.5s;
}